/* You can add global styles to this file, and also import other style files */

h1 {
    text-align: center;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 10px;
}

body {
    text-align: center;
}

table {
    text-align: centerl;
}